.headtext{
    color: white;
    font-size: 32px;
}
.bold1{
    color: #0095ff;
    font-weight: bold;
}
.section-content1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    
}
.commercial-image{
    width: 16rem !important;
    height: 12rem;
    border-radius: 1rem;  
}
.com1{
    color: white;
    font-size: x-large;
    margin-top: 1rem;
}
.textsale{
    color: white;
}
.commercial-small-btn{
    color: #3e7be5 !important;
    border-radius: 10px;
    text-decoration: none;
    background-color: #3e7be5 !important;
    border: 1px solid 3e7be5 !important;
    border-radius: 10px;
    margin-top: 2rem;
}
.div-height{
    height: 33rem !important;
}

.removeline{
    text-decoration: none;
}
.removeline1{
    text-decoration: none;
    margin-bottom: 0rem !important;
}
.header-text{
    text-align: center !important;
}
.bordertext{
    color: #fff !important;
    text-decoration: none;
    padding: 13px 40px !important;
    margin-top: 2rem !important;
}
.dtls-flex-row2 {
    width: 100% !important;
    height: auto;
    display: flex;
    justify-content: flex-start !important;
    align-items: center !important;
    position: relative !important;
    margin-top: 1rem;
}