html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
  }
  
  .slider {
    position: relative;
    width: 960px;
    height: 430px;
    margin: 50px auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 15px !important;
  }
  
  .slider-controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    text-align: center;
    transform: translatex(-50%);
    z-index: 1000;
  
    list-style: none;
    text-align: center;
  }
  
  .slider input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-controls label {
    display: inline-block;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #212121;
    transition: background-color 0.2s linear;
  }
  
  #btn-1:checked ~ .slider-controls label[for="btn-1"] {
    background-color: #0095ff;
  }
  
  #btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color: #0095ff;
  }
  
  #btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #0095ff;
  }
  
  /* SLIDES */
  
  .slides {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #292e3a;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
  
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100%;
  
    opacity: 0;
    transform: translatex(-100%);
    transition: transform 250ms linear;
  }
  
  .slide-content {
    width: 400px;
    margin-top: 57px;
  }
  
  .slide-title {
    margin-bottom: 20px;
    font-size: 36px;
    color: white;
  }
  
  .slide-text {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  
  .slide-link {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    background-color: #0095ff;
  }
  
  .slide-image img {
    max-width: 100%;
  }
  
  /* Slide animations */
  #btn-1:checked ~ .slides .slide:nth-child(1) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-2:checked ~ .slides .slide:nth-child(2) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-3:checked ~ .slides .slide:nth-child(3) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  @keyframes swap-out {
    0% {
      transform: translatex(0);
      opacity: 1;
    }
  
    50% {
      transform: translatex(50%);
      opacity: 0;
    }
  
    100% {
      transform: translatex(100%);
    }
  }

  /* upper part sell rent pg part styling start */

  .house-statuses {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 13px;
    position: relative;
    top: 36px;
    border: 2px solid black;
    background-color: white;
    opacity: 0.7;
  }
  .status{
    cursor: pointer;
    font-size: large;
    font-weight: 700;
  }

  .searchHouseType{
    margin: auto;
    width: 50%;
    padding-top: 3rem;
  }

  .houseBtnStyle{
    margin-top: 0rem;
    font-size: x-large;
    font-weight: 900;
    color: black;
    font-family: monospace;
  }
  .houseBtnStyle:hover{
    color: black;
    opacity: 1;
    text-decoration: underline;
    background: transparent !important;
  }
  .houseastyle:hover{
    background: transparent !important;
  }

  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
  }


  .listingimgsize{
    height: 12rem !important;
    width: 100% !important;
  }
  section .card .image{
    height: 140px;
    width: 140px;

  }
  section .card .image img{
   height:100%;
   width: 100%;
   object-fit: cover;
  }
  .card{
    width: 150px;
    border-radius: 10px;
  }

 /* upper part sell rent pg part styling end */
  