.firstsight{
   padding-bottom: 2rem;
   padding-top: 0rem;
}
.homehead{
    color: white;
    font-size: 35px;
   text-align: center;
}
.sectcoll1{
    color: white;
    font-size: 20px;
    margin-top: 1rem;
    text-align: center;
}
.para{
    color: white;
    text-align: left !important;
    font-size: 20px;
}
.section-cont{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.bg-img{
    height: 37rem;
    width: 125%;
    margin-top: -8rem;
}
.homefirstsight{
    text-align: left;
}
.setpic{
    margin: 8px 12px;
    text-align: left;
    /* font-size: 23px; */
}
.setText{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: 15rem;
}

.bold{
    color: #0095ff;
    font-weight: bold;
}
.beneimg{
    width: 90%;
    height: 70%;
    border-radius: 1rem; 
   
}
.colblue{
    color: #0095ff !important;
    font-size: 20px;
    width: 17rem;
    text-align: center;
}
.benecont1 {
    color: white;
    font-size: 12px;
    margin-top: 1rem;
}
.benecont{
    width: 25%;
    margin-top: 46px;
    justify-content: center;
}
.pgBenefits{
    width: 100%;
    margin: 0 auto;
   
}
.section-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    
}
.collection-img{
    width: 16rem !important;
    height: 12rem;
    border-radius: 1rem;    
}

.ourproperties{
    padding-top: 0rem;

}
.collcont1{
    text-decoration: none;
}
