<!-- section -->
<section>
    <div class="container">
        <!-- section-title -->
        <div class="section-title st-center fl-wrap">
            <h4>The Best Agents</h4>
            <h2>Meet Our Agents</h2>
        </div>
        <!-- section-title end -->
        <div class="clearfix"></div>
        <div class="listing-carousel-wrapper lc_hero carousel-wrap fl-wrap">
            <div class="listing-carousel carousel ">
                <!-- slick-slide-item -->
                <div class="slick-slide-item">
                    <!--  agent card item -->
                    <div class="listing-item">
                        <article class="geodir-category-listing fl-wrap">
                            <div class="geodir-category-img fl-wrap  agent_card">
                                <a href="agent-single.html" class="geodir-category-img_item">
                                    <img src="/static/images/agency/agent/1.jpg" alt="">
                                    <ul class="list-single-opt_header_cat">
                                        <li><span class="cat-opt color-bg">4 listings</span></li>
                                    </ul>
                                </a>
                                <div class="agent-card-social fl-wrap">
                                    <ul>
                                        <li><a href="#" target="_blank"><i
                                                    class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#" target="_blank"><i
                                                    class="fab fa-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i
                                                    class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5">
                                    <span class="re_stars-title">Excellent</span>
                                </div>
                            </div>
                            <div class="geodir-category-content fl-wrap">
                                <div class="card-verified tolt" data-microtip-position="left"
                                    data-tooltip="Verified"><i class="fal fa-user-check"></i></div>
                                <div class="agent_card-title fl-wrap">
                                    <h4><a href="agent-single.html">Anna Lips</a></h4>
                                    <h5><a href="agency-single.html">CondorHome RealEstate agency</a>
                                    </h5>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in
                                    pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur
                                    nulla.</p>
                                <div class="geodir-category-footer fl-wrap">
                                    <a href="agent-single.html"
                                        class="btn float-btn color-bg small-btn">View Profile</a>
                                    <a href="mailto:yourmail@email.com" class="tolt ftr-btn"
                                        data-microtip-position="left" data-tooltip="Write Message"><i
                                            class="fal fa-envelope"></i></a>
                                    <a href="tel:123-456-7890" class="tolt ftr-btn"
                                        data-microtip-position="left" data-tooltip="Call Now"><i
                                            class="fal fa-phone"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!--  agent card item end -->
                </div>
                <!-- slick-slide-item end-->
                <!-- slick-slide-item -->
                <div class="slick-slide-item">
                    <!--  agent card item -->
                    <div class="listing-item">
                        <article class="geodir-category-listing fl-wrap">
                            <div class="geodir-category-img fl-wrap  agent_card">
                                <a href="agent-single.html" class="geodir-category-img_item">
                                    <img src="/static/images/agency/agent/1.jpg" alt="">
                                    <ul class="list-single-opt_header_cat">
                                        <li><span class="cat-opt color-bg">6 listings</span></li>
                                    </ul>
                                </a>
                                <div class="agent-card-social fl-wrap">
                                    <ul>
                                        <li><a href="#" target="_blank"><i
                                                    class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#" target="_blank"><i
                                                    class="fab fa-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i
                                                    class="fab fa-instagram"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="3">
                                    <span class="re_stars-title">Average</span>
                                </div>
                            </div>
                            <div class="geodir-category-content fl-wrap">
                                <div class="card-verified cv_not tolt" data-microtip-position="left"
                                    data-tooltip="Not Verified"><i class="fal fa-minus-octagon"></i>
                                </div>
                                <div class="agent_card-title fl-wrap">
                                    <h4><a href="agent-single.html">Jane Kobart</a></h4>
                                    <h5><a href="agency-single.html">Mavers RealEstate agency</a></h5>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in
                                    pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur
                                    nulla.</p>
                                <div class="geodir-category-footer fl-wrap">
                                    <a href="agent-single.html"
                                        class="btn float-btn color-bg small-btn">View Profile</a>
                                    <a href="mailto:yourmail@email.com" class="tolt ftr-btn"
                                        data-microtip-position="left" data-tooltip="Write Message"><i
                                            class="fal fa-envelope"></i></a>
                                    <a href="tel:123-456-7890" class="tolt ftr-btn"
                                        data-microtip-position="left" data-tooltip="Call Now"><i
                                            class="fal fa-phone"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!--  agent card item end -->
                </div>
                <!-- slick-slide-item end-->
                <!-- slick-slide-item -->
                <div class="slick-slide-item">
                    <!--  agent card item -->
                    <div class="listing-item">
                        <article class="geodir-category-listing fl-wrap">
                            <div class="geodir-category-img fl-wrap  agent_card">
                                <a href="agent-single.html" class="geodir-category-img_item">
                                    <img src="/static/images/agency/agent/1.jpg" alt="">
                                    <ul class="list-single-opt_header_cat">
                                        <li><span class="cat-opt color-bg">23 listings</span></li>
                                    </ul>
                                </a>
                                <div class="agent-card-social fl-wrap">
                                    <ul>
                                        <li><a href="#" target="_blank"><i
                                                    class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#" target="_blank"><i
                                                    class="fab fa-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i
                                                    class="fab fa-instagram"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5">
                                    <span class="re_stars-title">Excellent
                                    </span>
                                </div>
                            </div>
                            <div class="geodir-category-content fl-wrap">
                                <div class="card-verified tolt" data-microtip-position="left"
                                    data-tooltip="Verified"><i class="fal fa-user-check"></i></div>
                                <div class="agent_card-title fl-wrap">
                                    <h4><a href="agent-single.html">Bill Trust</a></h4>
                                    <h5><a href="agency-single.html">Your Sweet Home agency</a></h5>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in
                                    pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur
                                    nulla.</p>
                                <div class="geodir-category-footer fl-wrap">
                                    <a href="agent-single.html"
                                        class="btn float-btn color-bg small-btn">View Profile</a>
                                    <a href="mailto:yourmail@email.com" class="tolt ftr-btn"
                                        data-microtip-position="left" data-tooltip="Write Message"><i
                                            class="fal fa-envelope"></i></a>
                                    <a href="tel:123-456-7890" class="tolt ftr-btn"
                                        data-microtip-position="left" data-tooltip="Call Now"><i
                                            class="fal fa-phone"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!--  agent card item end -->
                </div>
                <!-- slick-slide-item end-->
                <!-- slick-slide-item -->
                <div class="slick-slide-item">
                    <!--  agent card item -->
                    <div class="listing-item">
                        <article class="geodir-category-listing fl-wrap">
                            <div class="geodir-category-img fl-wrap  agent_card">
                                <a href="agent-single.html" class="geodir-category-img_item">
                                    <img src="/static/images/agency/agent/1.jpg" alt="">
                                    <ul class="list-single-opt_header_cat">
                                        <li><span class="cat-opt color-bg">12 listings</span></li>
                                    </ul>
                                </a>
                                <div class="agent-card-social fl-wrap">
                                    <ul>
                                        <li><a href="#" target="_blank"><i
                                                    class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#" target="_blank"><i
                                                    class="fab fa-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i
                                                    class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="4">
                                    <span class="re_stars-title">Good</span>
                                </div>
                            </div>
                            <div class="geodir-category-content fl-wrap">
                                <div class="card-verified tolt" data-microtip-position="left"
                                    data-tooltip="Verified"><i class="fal fa-user-check"></i></div>
                                <div class="agent_card-title fl-wrap">
                                    <h4><a href="agent-single.html">Martin Smith</a></h4>
                                    <h5><a href="agency-single.html">Mavers RealEstate agency</a></h5>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in
                                    pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur
                                    nulla.</p>
                                <div class="geodir-category-footer fl-wrap">
                                    <a href="agent-single.html"
                                        class="btn float-btn color-bg small-btn">View Profile</a>
                                    <a href="mailto:yourmail@email.com" class="tolt ftr-btn"
                                        data-microtip-position="left" data-tooltip="Write Message"><i
                                            class="fal fa-envelope"></i></a>
                                    <a href="tel:123-456-7890" class="tolt ftr-btn"
                                        data-microtip-position="left" data-tooltip="Call Now"><i
                                            class="fal fa-phone"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!--  agent card item end -->
                </div>
                <!-- slick-slide-item end-->
            </div>
            <div class="swiper-button-prev lc-wbtn lc-wbtn_prev"><i class="far fa-angle-left"></i></div>
            <div class="swiper-button-next lc-wbtn lc-wbtn_next"><i class="far fa-angle-right"></i>
            </div>
        </div>
    </div>
</section>
<!-- section end-->