{% extends 'base.html' %} 
{% load humanize %} 
{% load static %} 
{% block content %}

<div id="wrapper">
  <!-- content -->
  <div class="content">
    <!-- start message framework -->
    {% if messages %} {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %} {% endif %}
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link type="text/css" rel="stylesheet" href="/static/css/index.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/pgDetails.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<body>
    

    <section class="topDetails" style="padding-bottom: 0px; background-color:#292e3a;">
        <div class="pgDetails">
            <div class="rentDetails" >
                <p class="detailsPara">Pricing:</p>
                <h3 id="H2_72">₹ 16,000</h3>
            </div>
            <div class="nameDetails">
                <h2 id="H2_72">Gurugram PG Space</h2>
                <p class="detailsPara">PG location</p>
                <p>Occupancy Type</p>
            </div>
            <div class="phoneDetails">
                <p class="detailsPara">Owner info:</p>
                <a href="" id="A_126">View Phone No.</a>
            </div>
        </div>
    </section>

    <section style="display: flex; justify-content:center;">
      <div id="DIV_1">
        <div id="DIV_2">
          <ul id="UL_3">
            <li id="LI_4">
              <div id="DIV_5">
                <div id="DIV_6">

                  <div id="DIV_11">
                    <div id="DIV_12">
                      <div id="DIV_13">
                        <a href="javascript:void(0);" id="A_14"
                          ><img
                            src="https://img.staticmb.com/mbphoto/pg/grd2/cropped_images/2023/Feb/16/Photo_h400_w540/GR2-351189-1664339_400_540.jpg"
                            id="IMG_15"
                            alt=""
                        /></a>
                      </div>
                      <div id="DIV_16">
                        <a href="javascript:void(0);" id="A_17"
                          ><img id="IMG_18" alt=""
                        /></a>
                        <div id="DIV_19"></div>
                      </div>
                      <div id="DIV_20">
                        <a href="javascript:void(0);" id="A_21"
                          ><img id="IMG_22" alt=""
                        /></a>
                        <div id="DIV_23"></div>
                      </div>
                      <div id="DIV_24">
                        <a href="javascript:void(0);" id="A_25"
                          ><img id="IMG_26" alt=""
                        /></a>
                        <div id="DIV_27"></div>
                      </div>
                      <div id="DIV_28">
                        <a href="javascript:void(0);" id="A_29"
                          ><img id="IMG_30" alt=""
                        /></a>
                        <div id="DIV_31"></div>
                      </div>
                      <div id="DIV_32">
                        <a href="javascript:void(0);" id="A_33"
                          ><img id="IMG_34" alt=""
                        /></a>
                        <div id="DIV_35"></div>
                      </div>
                      <div id="DIV_36">
                        <a href="javascript:void(0);" id="A_37"
                          ><img id="IMG_38" alt=""
                        /></a>
                        <div id="DIV_39"></div>
                      </div>
                      <div id="DIV_40">
                        <a href="javascript:void(0);" id="A_41"
                          ><img id="IMG_42" alt=""
                        /></a>
                        <div id="DIV_43"></div>
                      </div>
                      <div id="DIV_44">
                        <a href="javascript:void(0);" id="A_45"
                          ><img id="IMG_46" alt=""
                        /></a>
                        <div id="DIV_47"></div>
                      </div>
                      <div id="DIV_48">
                        <a href="javascript:void(0);" id="A_49"
                          ><img id="IMG_50" alt=""
                        /></a>
                        <div id="DIV_51"></div>
                      </div>
                      <div id="DIV_52">
                        <a href="javascript:void(0);" id="A_53"
                          ><img id="IMG_54" alt=""
                        /></a>
                        <div id="DIV_55"></div>
                      </div>
                      <div id="DIV_56">
                        <a href="javascript:void(0);" id="A_57"
                          ><img id="IMG_58" alt=""
                        /></a>
                        <div id="DIV_59"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li id="LI_60">
              <a href="javascript:void(0);" id="A_61"
                ><img
                  src="https://img.staticmb.com/mbphoto/pg/grd2/cropped_images/2023/Feb/16/Photo_h400_w540/GR2-351189-1664339_400_540.jpg"
                  id="IMG_62"
                  alt=""
              /></a>
            </li>
            <li id="LI_63">
              <a href="javascript:void(0);" id="A_64"
                ><img
                  src="https://img.staticmb.com/mbphoto/pg/grd2/cropped_images/2023/Feb/16/Photo_h400_w540/GR2-351189-1664341_400_540.jpg"
                  id="IMG_65"
                  alt=""
              /></a>
            </li>
            <li id="LI_66">
              <a href="javascript:void(0);" id="A_67">
                <span id="SPAN_68">+9</span>
                <span id="SPAN_69">More Photos</span></a
              >
            </li>
          </ul>
        </div>
        <div id="DIV_70">
          <div id="DIV_71">
            <h2 id="H2_72">Friendly Space, Ghatkopar West, Mumbai</h2>
            <a href="javascript:void(0);" id="A_73"
              ><span id="SPAN_74"></span
            ></a>
            
          </div>
          <div id="DIV_79">
            <div id="DIV_80">
              <p id="P_81">
                Move Into Friendly Space, A Professionally Managed PG Home In
                The Ghatkopar West, Mumbai. Located In A Safe Neighborhood, This
                Unisex PG Offers Various Modern Amenities For Your Comfort, Such
              </p>
            </div>
          </div>
          <ul id="UL_86">
            <li id="LI_87">
              <div id="DIV_88">Deposit Amount</div>
              <div id="DIV_89"><span id="SPAN_90">₹</span>30,000</div>
            </li>
            <li id="LI_91">
              <div id="DIV_92">Maintenance</div>
              <div id="DIV_93">-</div>
            </li>
            <li id="LI_94">
              <div id="DIV_95">Notice Period</div>
              <div id="DIV_96">1 Month</div>
            </li>
            <li id="LI_97">
              <div id="DIV_98">Electricity Charges</div>
              <div id="DIV_99">-</div>
            </li>
            <li id="LI_100">
              <div id="DIV_101">Food Availability</div>
              <div id="DIV_102">-</div>
            </li>
            <li id="LI_103">
              <div id="DIV_104">AC Rooms</div>
              <div id="DIV_105">Available</div>
            </li>
            <li id="LI_106">
              <div id="DIV_107">Parking</div>
              <div id="DIV_108">Available</div>
            </li>
            <li id="LI_109">
              <div id="DIV_110">Power Backup</div>
              <div id="DIV_111">Available</div>
            </li>
            <li id="LI_112">
              <div id="DIV_113">Available for</div>
              <div id="DIV_114">Girls &amp; Boys</div>
            </li>
            <li id="LI_115">
              <div id="DIV_116">Preferred Tenants</div>
              <div id="DIV_117">All</div>
            </li>
            <li id="LI_118">
              <div id="DIV_119">Total Number of Beds</div>
              <div id="DIV_120">8</div>
            </li>
            <li id="LI_121">
              <div id="DIV_122">Operating Since</div>
              <div id="DIV_123">2020</div>
            </li>
          </ul>
          
          <div id="DIV_125">
            <a href="" id="A_126">View Phone No.</a>
            <a href="" id="A_127">Contact Agent</a>
            <div id="DIV_128">
              <div id="DIV_129"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="amenities" style="background-color: #292e3a; padding-top:2rem">
        <h2 id="H2_72" style="margin-bottom: 1rem; margin-bottom: 2rem; display: flex; justify-content: center; text-align: center;">Amenities Available:</h2>
        <div class="commonAmenities">
            <div class="amenities1">
            <div class="li">
                <i class="fas fa-wifi"></i><p>Wi-fi</p>
            </div>
            <div class="li">
                <i class="far fa-snowflake"></i><p>Air Conditioner</p>
            </div>
            <div class="li">
                <i class="fas fa-broom"></i><p>Room Cleaning</p>
            </div>
            <div class="li">
                <i class="fas fa-parking"></i><p>Parking</p>
            </div>
        </div>
        <div class="amenities1">    
                <div class="li">
                    
                    <i class="fa-solid fa-shirt"></i></i><p>Laundry</p>
                </div>
                <div class="li">
                    <i class="fas fa-cubes"></i><p>Fridge</p>
                </div>
                <div class="li">
                    <i class="fas fa-dumbbell"></i><p>Gym</p>
                </div>
                <div class="li">
                    <i class="fas fa-battery"></i><p>Water Cooler (RO)</p>
                </div>
        </div>
    </section>

    <section id="rules" >
        <h2 id="H2_72" style="margin-bottom: 1rem; margin-bottom: 2rem; display: flex; justify-content: center; text-align: center;">PG Rules:</h2>
        <div class="commonAmenities">
            <div class="amenities1">
            <div class="li">
                <i class="far fa-calendar"></i><p>Notice Period</p>
            </div>
            <div class="li">
                <i class="fas fa-drumstick-bite"></i><p>Non Veg Allowed:</p>
            </div>
            <div class="li">
                <i class="fa fa-venus-mars"></i><p>Opposite Gender Allowed:</p>
            </div>
            <div class="li">
                <i class="far fa-clock"></i><p>Any Time Allowed:</p>
            </div>
        </div>
        <div class="amenities1">    
                <div class="li">
                    
                    <i class="fas fa-user-friends"></i></i><p>Visitors Allowed:</p>
                </div>
                <div class="li">
                    <i class="fas fa-male"></i><p>Guardian Allowed:</p>
                </div>
                <div class="li">
                    <i class="	fas fa-glass-cheers"></i><p>Drinking Allowed:</p>
                </div>
                <div class="li">
                    <i class="fas fa-smoking"></i><p>Smoking Allowed:</p>
                </div>
        </div>
    </section>
</body>
    {% endblock %}
  </div>
</div>

