{% extends 'base.html' %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/static/css/plots.css">

        <!-- header end  -->
        <!-- wrapper  -->
        <div id="wrapper">
            <!-- content -->
            <div class="content">
                <!--  section  -->
                <section class="no-padding-section plotbg-image">
                    <div class="hero-slider-wrap carousel-wrap fl-wrap">
                        <div class="hero-slider carousel">
                            <!-- hero-slider-item -->
                            <div class="hero-slider-item hero-slider-item_first fl-wrap plotbg-image">
                                <div class="bg plotbg-image" data-bg="../static/images/plots/plotbg.jpg"></div>
                                <div class="overlay plotbg-image"></div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="hero-title ht-column fl-wrap">
                                                <h4>Real Estate Searching Platform</h4>
                                                <h2>Find The House of Your Dream <br>
                                                    Using Our Platform
                                                </h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in
                                                    pulvinar neque. Nulla finibus lobortis pulvinar.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">
                                            <div class="main-search-input-wrap shadow_msiw msiw-column fl-wrap">
                                                <div class="msiw-column_title">Use Quick Search</div>
                                                <div class="main-search-input fl-wrap">
                                                    <div class="main-search-input-item">
                                                        <input type="text" placeholder="What are you looking for?"
                                                            value="" />
                                                    </div>
                                                    <div class="main-search-input-item">
                                                        <select data-placeholder="All Categories"
                                                            class="chosen-select no-search-select">
                                                            <option>All Statuses</option>
                                                            <option>For Rent</option>
                                                            <option>For Sale</option>
                                                        </select>
                                                    </div>
                                                    <div class="main-search-input-item">
                                                        <select data-placeholder="All Categories" class="chosen-select">
                                                            <option>All Cities</option>
                                                            <option>New York</option>
                                                            <option>London</option>
                                                            <option>Paris</option>
                                                            <option>Kiev</option>
                                                            <option>Moscow</option>
                                                            <option>Dubai</option>
                                                            <option>Rome</option>
                                                            <option>Beijing</option>
                                                        </select>
                                                    </div>
                                                    <button class="main-search-button color-bg"
                                                        onclick="window.location.href='listing.html'"> Search <i
                                                            class="far fa-search"></i> </button>
                                                </div>
                                            </div>
                                            <div class="hero-notifer fl-wrap">Need more search options? <a
                                                    href="listing.html">Advanced Search</a></div>
                                        </div>
                                    </div>
                                    <div class="scroll-down-wrap">
                                        <div class="mousey">
                                            <div class="scroller"></div>
                                        </div>
                                        <span>Scroll Down To Discover</span>
                                    </div>
                                </div>
                            </div>
                            <!--  hero-slider-item end  -->
                           
                        </div>
                        <div class="hs-btn hs-btn_prev color-bg swiper-button-prev"><i class="far fa-angle-left"></i>
                        </div>
                        <div class="hs-btn hs-btn_next color-bg swiper-button-next"><i class="far fa-angle-right"></i>
                        </div>
                    </div>
                </section>
                <!--  section  end-->
                <!-- breadcrumbs-->
                <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
                    <div class="container">
                        <div class="breadcrumbs-list">
                            <a href="#">Home</a> <span>Home Image</span>
                        </div>
                        <div class="share-holder hid-share">
                            <a href="#" class="share-btn showshare sfcs"> <i class="fas fa-share-alt"></i> Share </a>
                            <div class="share-container  isShare"></div>
                        </div>
                    </div>
                </div>
                <!-- breadcrumbs end -->

                <section data-q="collections">
                    <header class="headercontent">
                        <h3 class="plothead">
                            Plot
                            <span class="bold1">
                                Collections
                            </span>
                        </h3>

                        <div class="plotpick" data-q="sub-title">
                            Exclusive showcase of categorized plots
                        </div>
                    </header>

                    <div class="section-content1">
                        <div class="plotcont">
                            <a target="_blank" class="plotcont1" href="#">
                                <div class="sectcoll">
                                    <img class="collection-image" src="../static/images/plots/corner.jpg"
                                        alt="For Corner Plots">
                                </div>
                                <div data-q="title" class="coll1">For Corner Plots</div>

                            </a>
                        </div>

                        <div class="plotcont">
                            <a target="_blank" class="plotcont1" href="#">
                                <div class="sectcoll">
                                    <img class="collection-image" src="../static/images/plots/boundarywall.jpg"
                                        alt="For Boundary Wall Plots">
                                </div>
                                <div data-q="title" class="coll1">For Boundary Wall Plots</div>
                            </a>
                        </div>

                        <div class="plotcont">
                            <a target="_blank" class="plotcont1" href="#">
                                <div class="sectcoll">
                                    <img class="collection-image" src="../static/images/plots/eastfacing.jpg"
                                        alt="For East Facing Plots">
                                </div>
                                <div data-q="title" class="coll1">For East Facing Plots</div>

                            </a>
                        </div>

                        <div class="plotcont">
                            <a target="_blank" class="plotcont1" href="#">
                                <div class="sectcoll">
                                    <img class="collection-image" src="../static/images/plots/agricultureland.jpg"
                                        alt="Agriculture Plots">
                                </div>
                                <div data-q="title" class="coll1">Agriculture Plots</div>

                            </a>
                        </div>
                    </div>

                </section>

                <!-- section -->
                <section>
                    <div class="container">
                        <!-- section-title -->
                        <div class="section-title st-center fl-wrap">
                            <h2>Featured Plots in Jaipur</h2>
                        </div>
                        <!-- section-title end -->
                        <div class="clearfix"></div>
                        <div class="listing-carousel-wrapper lc_hero carousel-wrap fl-wrap">
                            <div class="listing-carousel carousel ">
                                <!-- slick-slide-item -->
                                <div class="slick-slide-item">
                                    <!--  agent card item -->
                                    <div class="listing-item">
                                        <article class="geodir-category-listing fl-wrap">
                                            <div class="geodir-category-img fl-wrap  agent_card">
                                                <a href="agent-single.html" class="geodir-category-img_item">
                                                    <img src="/static/images/agency/agent/1.jpg" alt="">

                                                </a>
                                            </div>
                                            <div class="geodir-category-content fl-wrap">

                                                <div class="agent_card-title fl-wrap">
                                                    <h4><a href="{% url 'plot_All_Listing' %}">₹13.3 Lac</a></h4>
                                                    <h5><a href="{% url 'plot_All_Listing' %}">Residential Plot</a></h5>
                                                </div>
                                                <p>Plot Area 275. <br>
                                                    Locality: Jagdamba Colony <br>
                                                    Dimension 63 X 34 ft
                                                </p>
                                                <div class="geodir-category-footer fl-wrap">
                                                    <a href="agent-single.html"
                                                        class="btn float-btn color-bg small-btn textborder">Contact Now</a>
                                                        <h6 class="textowner">Owner</h6>
                                                        <h6 class="textname">RK Chauhan</h6>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!--  agent card item end -->
                                </div>
                                <!-- slick-slide-item end-->
                                <!-- slick-slide-item -->
                                <div class="slick-slide-item">
                                    <!--  agent card item -->
                                    <div class="listing-item">
                                        <article class="geodir-category-listing fl-wrap">
                                            <div class="geodir-category-img fl-wrap  agent_card">
                                                <a href="agent-single.html" class="geodir-category-img_item">
                                                    <img src="/static/images/agency/agent/1.jpg" alt="">

                                                </a>
                                            </div>
                                            <div class="geodir-category-content fl-wrap">

                                                <div class="agent_card-title fl-wrap">
                                                    <h4><a href="{% url 'plot_All_Listing' %}">₹39 Lac</a></h4>
                                                    <h5><a href="a{% url 'plot_All_Listing' %}">Residential Plot</a></h5>
                                                </div>
                                                <p>
                                                    Plot Area 2142 <br>
                                                    Dimension 63 X 34 ft <br>
                                                    Locality: Ajmer Road.</p>
                                                <div class="geodir-category-footer fl-wrap">
                                                    <a href="agent-single.html"
                                                        class="btn float-btn color-bg small-btn textborder">Contact Now
                                                    </a>
                                                    <h6 class="textowner">Owner</h6>
                                                    <h6 class="textname">RK Chauhan</h6>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!--  agent card item end -->
                                </div>
                                <!-- slick-slide-item end-->
                                <!-- slick-slide-item -->
                                <div class="slick-slide-item">
                                    <!--  agent card item -->
                                    <div class="listing-item">
                                        <article class="geodir-category-listing fl-wrap">
                                            <div class="geodir-category-img fl-wrap  agent_card">
                                                <a href="agent-single.html" class="geodir-category-img_item">
                                                    <img src="/static/images/agency/agent/1.jpg" alt="">
                                                </a>

                                            </div>
                                            <div class="geodir-category-content fl-wrap">

                                                <div class="agent_card-title fl-wrap">
                                                    <h4><a href="{% url 'plot_All_Listing' %}">₹63.8 Lac</a></h4>
                                                    <h5><a href="{% url 'plot_All_Listing' %}">Residential Plot</a></h5>
                                                </div>
                                                <p>
                                                    Plot Area 133 <br>
                                                    Dimension 16.63 X 8 yrd <br>
                                                    Locality: Jagatpura</p>
                                                <div class="geodir-category-footer fl-wrap">
                                                    <a href="agent-single.html"
                                                        class="btn float-btn color-bg small-btn textborder">Contact Now</a>
                                                    <h6 class="textowner">Owner</h6>
                                                    <h6 class="textname">RK Chauhan</h6>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!--  agent card item end -->
                                </div>
                                <!-- slick-slide-item end-->
                                <!-- slick-slide-item -->
                                <div class="slick-slide-item">
                                    <!--  agent card item -->
                                    <div class="listing-item">
                                        <article class="geodir-category-listing fl-wrap">
                                            <div class="geodir-category-img fl-wrap  agent_card">
                                                <a href="agent-single.html" class="geodir-category-img_item">
                                                    <img src="/static/images/agency/agent/1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="geodir-category-content fl-wrap">
                                                <div class="agent_card-title fl-wrap">
                                                    <h4><a href="{% url 'plot_All_Listing' %}">₹92.8 Lac</a></h4>
                                                    <h5><a href="{% url 'plot_All_Listing' %}">Residential Plot</a></h5>
                                                </div>
                                                <p>
                                                    Plot Area 133 Dimension 16.63 X 8 yrd Locality: Jagatpura
                                                </p>
                                                <div class="geodir-category-footer fl-wrap">
                                                    <a href="agent-single.html"
                                                        class="btn float-btn color-bg small-btn textborder">Contact Now</a>
                                                    <h6 class="textowner">Owner</h6>
                                                    <h6 class="textname">RK Chauhan</h6>

                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!--  agent card item end -->
                                </div>
                                <!-- slick-slide-item end-->
                            </div>
                            <div class="swiper-button-prev lc-wbtn lc-wbtn_prev"><i class="far fa-angle-left"></i></div>
                            <div class="swiper-button-next lc-wbtn lc-wbtn_next"><i class="far fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section end-->

                <!-- section -->
                <section>
                    <div class="container">
                        <!--about-wrap -->
                        <div class="about-wrap">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="about-title ab-hero fl-wrap">
                                        <h2>Why Choose Our Properties </h2>
                                        <h4>Check video presentation to find out more about us .</h4>
                                    </div>
                                    <div class="services-opions fl-wrap">
                                        <ul>
                                            <li>
                                                <i class="fal fa-headset"></i>
                                                <h4>24 Hours Support </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </li>
                                            <li>
                                                <i class="fal fa-users-cog"></i>
                                                <h4>User Admin Panel</h4>
                                                <p>Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi
                                                    tincidunt. Curabitur convallis fringilla diam sed aliquam. </p>
                                            </li>
                                            <li>
                                                <i class="fal fa-phone-laptop"></i>
                                                <h4>Mobile Friendly</h4>
                                                <p>Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis
                                                    massa faucibus feugiat. In fermentum facilisis massa.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-6">
                                    <div class="about-img fl-wrap">
                                        <img src="/static/images/all/1.jpg" class="respimg" alt="">
                                        <div class="about-img-hotifer color-bg">
                                            <p>Your website is fully responsive so visitors can view your content from
                                                their choice of device.</p>
                                            <h4>Mark Antony</h4>
                                            <h5>Homeradar CEO</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- about-wrap end  -->
                    </div>
                </section>
                <!-- section end-->
                <section class="hidden-section no-padding-section">
                    <div class="half-carousel-wrap">
                        <div class="half-carousel-title color-bg">
                            <div class="half-carousel-title-item fl-wrap">
                                <h2>Explore Best Cities</h2>
                                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</h5>
                            </div>
                            <div class="pwh_bg"></div>
                        </div>
                        <div class="half-carousel-conatiner">
                            <div class="half-carousel fl-wrap full-height">
                                <!--slick-item -->
                                <div class="slick-item">
                                    <div class="half-carousel-item fl-wrap">
                                        <div class="bg-wrap bg-parallax-wrap-gradien">
                                            <div class="bg" data-bg="/static/images/bg/long/1.jpg"></div>
                                        </div>
                                        <div class="half-carousel-content">
                                            <div class="hc-counter color-bg">26 Properties</div>
                                            <h3><a href="listing.html">Explore NewYork</a></h3>
                                            <p>Constant care and attention to the patients makes good record</p>
                                        </div>
                                    </div>
                                </div>
                                <!--slick-item end -->
                                <!--slick-item -->
                                <div class="slick-item">
                                    <div class="half-carousel-item fl-wrap">
                                        <div class="bg-wrap bg-parallax-wrap-gradien">
                                            <div class="bg" data-bg="/static/images/bg/long/1.jpg"></div>
                                        </div>
                                        <div class="half-carousel-content">
                                            <div class="hc-counter color-bg">89 Properties</div>
                                            <h3><a href="listing.html">Awesome London</a></h3>
                                            <p>Constant care and attention to the patients makes good record</p>
                                        </div>
                                    </div>
                                </div>
                                <!--slick-item end -->
                                <!--slick-item -->
                                <div class="slick-item">
                                    <div class="half-carousel-item fl-wrap">
                                        <div class="bg-wrap bg-parallax-wrap-gradien">
                                            <div class="bg" data-bg="/static/images/bg/long/1.jpg"></div>
                                        </div>
                                        <div class="half-carousel-content">
                                            <div class="hc-counter color-bg">102 Properties</div>
                                            <h3><a href="listing.html">Find Dream in Paris</a></h3>
                                            <p>Constant care and attention to the patients makes good record</p>
                                        </div>
                                    </div>
                                </div>
                                <!--slick-item end -->
                                <!--slick-item -->
                                <div class="slick-item">
                                    <div class="half-carousel-item fl-wrap">
                                        <div class="bg-wrap bg-parallax-wrap-gradien">
                                            <div class="bg" data-bg="/static/mages/bg/long/1.jpg"></div>
                                        </div>
                                        <div class="half-carousel-content">
                                            <div class="hc-counter color-bg">51 Properties</div>
                                            <h3><a href="listing.html">Elite Houses in Dubai</a></h3>
                                            <p>Constant care and attention to the patients makes good record</p>
                                        </div>
                                    </div>
                                </div>
                                <!--slick-item end -->
                            </div>
                        </div>
                    </div>
                </section>
                <!--section end-->

                <!-- section -->
                <section class="color-bg small-padding">
                    <div class="container">
                        <div class="main-facts fl-wrap">
                            <!-- inline-facts  -->
                            <div class="inline-facts-wrap">
                                <div class="inline-facts">
                                    <div class="milestone-counter">
                                        <div class="stats animaper">
                                            <div class="num" data-content="0" data-num="578">0</div>
                                        </div>
                                    </div>
                                    <h6>Agents and Agencys</h6>
                                </div>
                            </div>
                            <!-- inline-facts end -->
                            <!-- inline-facts  -->
                            <div class="inline-facts-wrap">
                                <div class="inline-facts">
                                    <div class="milestone-counter">
                                        <div class="stats animaper">
                                            <div class="num" data-content="0" data-num="12168">0</div>
                                        </div>
                                    </div>
                                    <h6>Happy Customers Every Year</h6>
                                </div>
                            </div>
                            <!-- inline-facts end -->
                            <!-- inline-facts  -->
                            <div class="inline-facts-wrap">
                                <div class="inline-facts">
                                    <div class="milestone-counter">
                                        <div class="stats animaper">
                                            <div class="num" data-content="0" data-num="2172">0</div>
                                        </div>
                                    </div>
                                    <h6>Won Awards</h6>
                                </div>
                            </div>
                            <!-- inline-facts end -->
                            <!-- inline-facts  -->
                            <div class="inline-facts-wrap">
                                <div class="inline-facts">
                                    <div class="milestone-counter">
                                        <div class="stats animaper">
                                            <div class="num" data-content="0" data-num="732">0</div>
                                        </div>
                                    </div>
                                    <h6>New Listing Every Week</h6>
                                </div>
                            </div>
                            <!-- inline-facts end -->
                        </div>
                    </div>
                    <div class="svg-bg">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1600 900"
                            preserveAspectRatio="xMidYMax slice">
                            <defs>
                                <lineargradient id="bg">
                                    <stop offset="0%" style="stop-color:rgba(255, 255, 255, 0.6)"></stop>
                                    <stop offset="50%" style="stop-color:rgba(255, 255, 255, 0.1)"></stop>
                                    <stop offset="100%" style="stop-color:rgba(255, 255, 255, 0.6)"></stop>
                                </lineargradient>
                                <path id="wave" stroke="url(#bg)" fill="none"
                                    d="M-363.852,502.589c0,0,236.988-41.997,505.475,0
                                        s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z" />
                            </defs>
                            <g>
                                <use xlink:href="#wave">
                                    <animatetransform attributeName="transform" attributeType="XML" type="translate"
                                        dur="10s" calcMode="spline" values="270 230; -334 180; 270 230"
                                        keyTimes="0; .5; 1" keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                                        repeatCount="indefinite" />
                                </use>
                                <use xlink:href="#wave">
                                    <animatetransform attributeName="transform" attributeType="XML" type="translate"
                                        dur="8s" calcMode="spline" values="-270 230;243 220;-270 230"
                                        keyTimes="0; .6; 1" keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                                        repeatCount="indefinite" />
                                </use>
                                <use xlink:href="#wave">
                                    <animatetransform attributeName="transform" attributeType="XML" type="translate"
                                        dur="6s" calcMode="spline" values="0 230;-140 200;0 230" keyTimes="0; .4; 1"
                                        keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
                                </use>
                                <use xlink:href="#wave">
                                    <animatetransform attributeName="transform" attributeType="XML" type="translate"
                                        dur="12s" calcMode="spline" values="0 240;140 200;0 230" keyTimes="0; .4; 1"
                                        keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
                                </use>
                            </g>
                        </svg>
                    </div>
                </section>
                <!-- section end-->
                <!-- section -->
                <section class="gray-bg ">
                    <div class="container">
                        <div class="section-title st-center fl-wrap">
                            <h4>Testimonilas</h4>
                            <h2>What Our Clients Say</h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="testimonials-slider-wrap">
                        <div class="testimonials-slider">
                            <!--slick-item -->
                            <div class="slick-item">
                                <div class="text-carousel-item fl-wrap">
                                    <div class="text-carousel-item-header fl-wrap">
                                        <div class="popup-avatar"><img src="/static/images/avatar/1.jpg" alt=""></div>
                                        <div class="review-owner fl-wrap">Jessie Wilcox</div>
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                                    </div>
                                    <div class="text-carousel-content fl-wrap">
                                        <p> "In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis
                                            cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor
                                            sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod
                                            tincidunt ut laoreet dolore luptatum."</p>
                                        <a href="#" class="testim-link color-bg">Via Facebook</a>
                                    </div>
                                </div>
                            </div>
                            <!--slick-item end -->
                            <!--slick-item -->
                            <div class="slick-item">
                                <div class="text-carousel-item fl-wrap">
                                    <div class="text-carousel-item-header fl-wrap">
                                        <div class="popup-avatar"><img src="/static/images/avatar/1.jpg" alt=""></div>
                                        <div class="review-owner fl-wrap">Austin Harisson</div>
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
                                    </div>
                                    <div class="text-carousel-content fl-wrap">
                                        <p> "Feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                                            qui blandit praesent luptatum zzril delenit augue duis dolore te odio
                                            dignissim qui blandit praesent blandit praesent luptatum zzril.Vulputate
                                            urna. Nulla tristique mi a massa convallis."</p>
                                        <a href="#" class="testim-link color-bg">Via Twitter</a>
                                    </div>
                                </div>
                            </div>
                            <!--slick-item end -->
                            <!--slick-item -->
                            <div class="slick-item">
                                <div class="text-carousel-item fl-wrap">
                                    <div class="text-carousel-item-header fl-wrap">
                                        <div class="popup-avatar"><img src="/static/images/avatar/1.jpg" alt=""></div>
                                        <div class="review-owner fl-wrap">Garry Colonsi</div>
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
                                    </div>
                                    <div class="text-carousel-content fl-wrap">
                                        <p> "In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis
                                            cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor
                                            sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod
                                            tincidunt ut laoreet dolore luptatum."</p>
                                        <a href="#" class="testim-link color-bg">Via Facebook</a>
                                    </div>
                                </div>
                            </div>
                            <!--slick-item end -->
                            <!--slick-item -->
                            <div class="slick-item">
                                <div class="text-carousel-item fl-wrap">
                                    <div class="text-carousel-item-header fl-wrap">
                                        <div class="popup-avatar"><img src="/static/images/avatar/1.jpg" alt=""></div>
                                        <div class="review-owner fl-wrap">Antony Moore</div>
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                                    </div>
                                    <div class="text-carousel-content fl-wrap">
                                        <p> "Feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                                            qui blandit praesent luptatum zzril delenit augue duis dolore te odio
                                            dignissim qui blandit praesent blandit praesent luptatum zzril.Vulputate
                                            urna. Nulla tristique mi a massa convallis."</p>
                                        <a href="#" class="testim-link color-bg">Via Twitter</a>
                                    </div>
                                </div>
                            </div>
                            <!--slick-item end -->
                        </div>
                    </div>
                </section>
                <!-- section end-->
           {% endblock %}