{% extends 'base.html' %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/static/css/rent.css">

        <!-- header end  -->
        <!-- wrapper  -->
        <div id="wrapper">
            <!-- content -->
            <div class="content">
                <!--  section  -->
        <section class="no-padding-section rentbg-image">
            <div class="hero-slider-wrap carousel-wrap fl-wrap">
                <div class="hero-slider carousel">
                    <!-- hero-slider-item -->
                    <div class="hero-slider-item hero-slider-item_first fl-wrap rentbg-image">
                        <div class="bg rentbg-image" data-bg="../static/images/rent/rent2.png"></div>
                        <div class="overlay rentbg-image"></div>
                        <div class="container" style="margin-top : 2rem">
                            <div class="hero-title hero-title_small">
                              <h2 style="font-size : 41px; margin-left:15rem; color: white;">
                               Properties For Rent In City
                              </h2>
                            </div>
                            </div>
                            <div class="container searchHouseType">
                            <div class="house-statuses" >
                              <button type="button" class="btn houseBtnStyle">Sell</button>
                              
                              <a class="houseastyle" href="{% url 'rent' %}" >
                              <button type="button" class="btn houseBtnStyle">Rent</button>
                              </a>
                        
                              <a class="houseastyle" href="{% url 'pg_Coliving' %}" >
                              <button type="button" class="btn houseBtnStyle">PG/Co-living</button>
                              </a>
                        
                              <a class="houseastyle" href="{% url 'commercial' %}" >
                                <button type="button" class="btn houseBtnStyle">Commercial</button>
                                </a>
                        
                                 <a class="houseastyle" href="{% url 'plot' %}" >
                                <button type="button" class="btn houseBtnStyle">Plots</button>
                                </a>
                            </div>
                            <div class="main-search-input-wrap">
                              <div class="main-search-input fl-wrap">
                                <div class="main-search-input-item">
                                  <select data-placeholder="All Categories" class="chosen-select">
                                    <option>All Cities</option>
                                    <option>Mumbai</option>
                                    <option>Bengaluru</option>
                                    <option>Hyderbad</option>
                                    <option>Pune</option>
                                    <option>Chennai</option>
                                    <option>Delhi</option>
                                    <option>Gurgaon</option>
                                    <option>Noida</option>
                                    <option>Kolkata</option>
                                    <option>Ahmedabad</option>
                                    <option>Thane</option>
                                    <option>Navi Mumbai</option>
                                    <option>OTHER CITIES</option>
                                    <option>Agra</option>
                                    <option>Agartala</option>
                                    <option>Ajmer</option>
                                    <option>Ahmednagar</option>
                                    
                                    <option>Noida</option>
                                  </select>
                                </div>
                                <div class="main-search-input-item">
                                  <input
                                    type="text"
                                    placeholder="What are you looking for?"
                                    value=""
                                    style="color: white"
                                  />
                                </div>
                                
                                <button
                                  class="main-search-button color-bg"
                                  onclick="window.location.href='listing.html'"
                                >
                                  Search <i class="fal fa-search"></i>
                                </button>
                              </div>
                            </div>
                            <div class="scroll-down-wrap">
                              <div class="mousey">
                                <div class="scroller"></div>
                              </div>
                              <span>Scroll Down To Discover</span>
                            </div>
                          </div>
                    </div>
                    <!--  hero-slider-item end  -->
                    <!-- hero-slider-item -->
                    <div class="hero-slider-item fl-wrap">
                        <div class="bg" data-bg="../static/images/rent/rent1.png"></div>
                        <div class="overlay"></div>
                        <div class="hero-listing-item">
                            <div class="container">
                                <h2><a href="#">House in Financial District</a></h2>
                                <div class="geodir-category-location fl-wrap">
                                    <a href="#"><i class="fas fa-map-marker-alt"></i> 70 Bright St New York,
                                        USA</a>
                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="4"><span
                                            class="re_stars-title">Good</span></div>
                                </div>
                                <div class="clearfix"></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar
                                    neque. Nulla finibus lobortis pulvinar.</p>
                                <div class="clearfix"></div>
                                <a href="#" class="btn color-bg float-btn">View Details</a>
                                <div class="list-single-header-price">
                                    <strong>Price:</strong><span>₹</span>50.500
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  hero-slider-item end  -->
                </div>
                <div class="hs-btn hs-btn_prev color-bg swiper-button-prev"><i class="far fa-angle-left"></i>
                </div>
                <div class="hs-btn hs-btn_next color-bg swiper-button-next"><i class="far fa-angle-right"></i>
                </div>
            </div>
        </section>
        <!--  section  end-->
        <!-- breadcrumbs-->
        <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
            <div class="container">
                <div class="breadcrumbs-list">
                    <a href="#">Home</a> <span>Home Image</span>
                </div>
                <div class="share-holder hid-share">
                    <a href="#" class="share-btn showshare sfcs"> <i class="fas fa-share-alt"></i> Share </a>
                    <div class="share-container  isShare"></div>
                </div>
            </div>
        </div>
        <!-- breadcrumbs end -->
        <!-- section -->
        <section class="gray-bg small-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section-title fl-wrap">
                            <h4>Browse Hot Offers</h4>
                            <h2>Latest Properties</h2>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="listing-filters gallery-filters">
                            <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*"> <span>All
                                    Categories</span></a>
                            <a href="#" class="gallery-filter" data-filter=".for_sale"> <span>For
                                    Sale</span></a>
                            <a href="#" class="gallery-filter" data-filter=".for_rent"> <span>For
                                    Rent</span></a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- grid-item-holder-->
                <div class="grid-item-holder gallery-items rentDivSetting gisp fl-wrap">
                    <!-- gallery-item-->
                    {% for each in rent %}
                    <div class="gallery-item rentItemSetting for_sale">
                        <!-- listing-item -->
                        <div class="listing-item">
                            <article class="geodir-category-listing fl-wrap">
                                <div class="geodir-category-img fl-wrap">
                                    <a href="{% url 'rent_All_Listing' %}" class="geodir-category-img_item">
                                        <img src="{{ each.flat_image.url }}" alt="" style="width:392px; height:219px;">
                                        <div class="overlay"></div>
                                    </a>
                                    <div class="geodir-category-location">
                                        <a href="{% url 'rent_All_Listing' %}" class="single-map-item tolt" data-newlatitude="40.72956781"
                                            data-newlongitude="-73.99726866" data-microtip-position="top-left"
                                            data-tooltip="On the map"><i class="fas fa-map-marker-alt"></i>
                                            <span>{{ each.flat_location}}</span></a>
                                    </div>
                                    <a href="{% url 'rent_All_Listing' %}" class="geodir_save-btn tolt" data-microtip-position="left"
                                        data-tooltip="Save"><span><i class="fal fa-heart"></i></span></a>
                                    <a href="{% url 'rent_All_Listing' %}" class="compare-btn tolt" data-microtip-position="left"
                                        data-tooltip="Compare"><span><i class="fal fa-random"></i></span></a>
                                    <div class="geodir-category-listing_media-list">
                                        <span><i class="fas fa-camera"></i> 8</span>
                                    </div>
                                </div>
                                <div class="geodir-category-content fl-wrap">
                                    <h3 class="title-sin_item"><a href="listing-single.html">{{ each.flat_name }}BHK</a></h3>
                                    <div class="geodir-category-content_price">₹ {{each.flat_rent}} | {{each.area}}sqft</div>
                                    <div class="geodir-category-content-details">
                                    </div>
                                    <div class="geodir-category-footer fl-wrap">

                                        <a href="#" class="btn float-btn color-bg small-btn contact-text1">Contact Now</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- listing-item end-->
                    </div>
                    {% endfor %}
                    <!-- gallery-item-->
                    <!-- grid-item-holder-->
                    
                </div>
                <a href="listing.html" class="btn float-btn small-btn color-bg">View All Properties</a>
        </section>
        <!-- section end-->

        <section data-q="collections">
            <header class="header1">
                <h3 class="featurehead">
                    Featured
                    <span class="bold1">
                        Collections
                    </span>
                </h3>

                <div class="handpick" data-q="sub-title">
                    Handpicked projects for you
                </div>
            </header>

            <div class="section-content1">
                <div class="fectcont">
                    <a target="_blank" class="fectcont1" href="#">
                        <div class="sectcoll">
                            <img class="collection-image" src="../static/images/rent/forbachelors.jpg"
                                alt="For Bachelors">
                        </div>
                        <div data-q="title" class="coll1">For Bachelors</div>
                        <div class="coll2">House Hunting can be tough. We understand your pain.</div>
                    </a>
                </div>

                <div class="fectcont">
                    <a target="_blank" class="fectcont1" href="#">
                        <div class="sectcoll">
                            <img class="collection-image" src="../static/images/rent/GreatNightlife.jpg"
                                alt="Great Nightlife">
                        </div>
                        <div data-q="title" class="coll1">Great Nightlife</div>
                        <div class="coll2">Looking for chill Vibe? We've got you covered</div>
                    </a>
                </div>

                <div class="fectcont">
                    <a target="_blank" class="fectcont1" href="#">
                        <div class="sectcoll">
                            <img class="collection-image" src="../static/images/rent/GreatCommute.jpg"
                                alt="FGreat Commute">
                        </div>
                        <div data-q="title" class="coll1">Great Commute</div>
                        <div class="coll2">Tired of all that traffic? Here are the flats offering great public
                            transport options</div>
                    </a>
                </div>

                <div class="fectcont">
                    <a target="_blank" class="fectcont1" href="#">
                        <div class="sectcoll">
                            <img class="collection-image" src="../static/images/rent/OwnerFlats.jpg" alt="Owner Flat">
                        </div>
                        <div data-q="title" class="coll1">Owner Flats</div>
                        <div class="coll2">Tired of paying brokerage over and over again? Look no further</div>
                    </a>
                </div>
            </div>

        </section>




        <!-- section -->
        <section>
            <div class="container">
                <!--about-wrap -->
                <div class="about-wrap">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="about-title ab-hero fl-wrap">
                                <h2>Why Choose Our Properties </h2>
                                <h4>Check video presentation to find out more about us .</h4>
                            </div>
                            <div class="services-opions fl-wrap">
                                <ul>
                                    <li>
                                        <i class="fal fa-headset"></i>
                                        <h4>24 Hours Support </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </li>
                                    <li>
                                        <i class="fal fa-users-cog"></i>
                                        <h4>User Admin Panel</h4>
                                        <p>Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi
                                            tincidunt. Curabitur convallis fringilla diam sed aliquam. </p>
                                    </li>
                                    <li>
                                        <i class="fal fa-phone-laptop"></i>
                                        <h4>Mobile Friendly</h4>
                                        <p>Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis
                                            massa faucibus feugiat. In fermentum facilisis massa.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <div class="about-img fl-wrap">
                                <img src="/static/images/all/1.jpg" class="respimg" alt="">
                                <div class="about-img-hotifer color-bg">
                                    <p>Your website is fully responsive so visitors can view your content from
                                        their choice of device.</p>
                                    <h4>Mark Antony</h4>
                                    <h5>Homeradar CEO</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- about-wrap end  -->
            </div>
        </section>
        <!-- section end-->
        <section class="hidden-section no-padding-section">
            <div class="half-carousel-wrap">
                <div class="half-carousel-title color-bg">
                    <div class="half-carousel-title-item fl-wrap">
                        <h2>Explore Best Cities</h2>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</h5>
                    </div>
                    <div class="pwh_bg"></div>
                </div>
                <div class="half-carousel-conatiner">
                    <div class="half-carousel fl-wrap full-height">
                        <!--slick-item -->
                        <div class="slick-item">
                            <div class="half-carousel-item fl-wrap">
                                <div class="bg-wrap bg-parallax-wrap-gradien">
                                    <div class="bg" data-bg="/static/images/bg/long/1.jpg"></div>
                                </div>
                                <div class="half-carousel-content">
                                    <div class="hc-counter color-bg">26 Properties</div>
                                    <h3><a href="listing.html">Explore NewYork</a></h3>
                                    <p>Constant care and attention to the patients makes good record</p>
                                </div>
                            </div>
                        </div>
                        <!--slick-item end -->
                        <!--slick-item -->
                        <div class="slick-item">
                            <div class="half-carousel-item fl-wrap">
                                <div class="bg-wrap bg-parallax-wrap-gradien">
                                    <div class="bg" data-bg="/static/images/bg/long/1.jpg"></div>
                                </div>
                                <div class="half-carousel-content">
                                    <div class="hc-counter color-bg">89 Properties</div>
                                    <h3><a href="listing.html">Awesome London</a></h3>
                                    <p>Constant care and attention to the patients makes good record</p>
                                </div>
                            </div>
                        </div>
                        <!--slick-item end -->
                        <!--slick-item -->
                        <div class="slick-item">
                            <div class="half-carousel-item fl-wrap">
                                <div class="bg-wrap bg-parallax-wrap-gradien">
                                    <div class="bg" data-bg="/static/images/bg/long/1.jpg"></div>
                                </div>
                                <div class="half-carousel-content">
                                    <div class="hc-counter color-bg">102 Properties</div>
                                    <h3><a href="listing.html">Find Dream in Paris</a></h3>
                                    <p>Constant care and attention to the patients makes good record</p>
                                </div>
                            </div>
                        </div>
                        <!--slick-item end -->
                        <!--slick-item -->
                        <div class="slick-item">
                            <div class="half-carousel-item fl-wrap">
                                <div class="bg-wrap bg-parallax-wrap-gradien">
                                    <div class="bg" data-bg="/static/images/bg/long/1.jpg"></div>
                                </div>
                                <div class="half-carousel-content">
                                    <div class="hc-counter color-bg">51 Properties</div>
                                    <h3><a href="listing.html">Elite Houses in Dubai</a></h3>
                                    <p>Constant care and attention to the patients makes good record</p>
                                </div>
                            </div>
                        </div>
                        <!--slick-item end -->
                    </div>
                </div>
            </div>
        </section>
        <!--section end-->
        <!-- section -->
        <section>
            <div class="container">
                <!-- section-title -->
                <div class="section-title st-center fl-wrap">
                    <h4>The Best Agents</h4>
                    <h2>Meet Our Agents</h2>
                </div>
                <!-- section-title end -->
                <div class="clearfix"></div>
                <div class="listing-carousel-wrapper lc_hero carousel-wrap fl-wrap">
                    <div class="listing-carousel carousel ">
                        <!-- slick-slide-item -->
                        <div class="slick-slide-item">
                            <!--  agent card item -->
                            <div class="listing-item">
                                <article class="geodir-category-listing fl-wrap">
                                    <div class="geodir-category-img fl-wrap  agent_card">
                                        <a href="agent-single.html" class="geodir-category-img_item">
                                            <img src="/static/images/agency/agent/1.jpg" alt="">
                                            <ul class="list-single-opt_header_cat">
                                                <li><span class="cat-opt color-bg">4 listings</span></li>
                                            </ul>
                                        </a>
                                        <div class="agent-card-social fl-wrap">
                                            <ul>
                                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5">
                                            <span class="re_stars-title">Excellent</span>
                                        </div>
                                    </div>
                                    <div class="geodir-category-content fl-wrap">
                                        <div class="card-verified tolt" data-microtip-position="left"
                                            data-tooltip="Verified"><i class="fal fa-user-check"></i></div>
                                        <div class="agent_card-title fl-wrap">
                                            <h4><a href="agent-single.html">Anna Lips</a></h4>
                                            <h5><a href="agency-single.html">CondorHome RealEstate agency</a>
                                            </h5>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in
                                            pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur
                                            nulla.</p>
                                        <div class="geodir-category-footer fl-wrap">
                                            <a href="agent-single.html" class="btn float-btn color-bg small-btn">View
                                                Profile</a>
                                            <a href="mailto:yourmail@email.com" class="tolt ftr-btn"
                                                data-microtip-position="left" data-tooltip="Write Message"><i
                                                    class="fal fa-envelope"></i></a>
                                            <a href="tel:123-456-7890" class="tolt ftr-btn"
                                                data-microtip-position="left" data-tooltip="Call Now"><i
                                                    class="fal fa-phone"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!--  agent card item end -->
                        </div>
                        <!-- slick-slide-item end-->
                        <!-- slick-slide-item -->
                        <div class="slick-slide-item">
                            <!--  agent card item -->
                            <div class="listing-item">
                                <article class="geodir-category-listing fl-wrap">
                                    <div class="geodir-category-img fl-wrap  agent_card">
                                        <a href="agent-single.html" class="geodir-category-img_item">
                                            <img src="/static/images/agency/agent/1.jpg" alt="">
                                            <ul class="list-single-opt_header_cat">
                                                <li><span class="cat-opt color-bg">6 listings</span></li>
                                            </ul>
                                        </a>
                                        <div class="agent-card-social fl-wrap">
                                            <ul>
                                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                                </li>
                                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="3">
                                            <span class="re_stars-title">Average</span>
                                        </div>
                                    </div>
                                    <div class="geodir-category-content fl-wrap">
                                        <div class="card-verified cv_not tolt" data-microtip-position="left"
                                            data-tooltip="Not Verified"><i class="fal fa-minus-octagon"></i>
                                        </div>
                                        <div class="agent_card-title fl-wrap">
                                            <h4><a href="agent-single.html">Jane Kobart</a></h4>
                                            <h5><a href="agency-single.html">Mavers RealEstate agency</a></h5>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in
                                            pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur
                                            nulla.</p>
                                        <div class="geodir-category-footer fl-wrap">
                                            <a href="agent-single.html" class="btn float-btn color-bg small-btn">View
                                                Profile</a>
                                            <a href="mailto:yourmail@email.com" class="tolt ftr-btn"
                                                data-microtip-position="left" data-tooltip="Write Message"><i
                                                    class="fal fa-envelope"></i></a>
                                            <a href="tel:123-456-7890" class="tolt ftr-btn"
                                                data-microtip-position="left" data-tooltip="Call Now"><i
                                                    class="fal fa-phone"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!--  agent card item end -->
                        </div>
                        <!-- slick-slide-item end-->
                        <!-- slick-slide-item -->
                        <div class="slick-slide-item">
                            <!--  agent card item -->
                            <div class="listing-item">
                                <article class="geodir-category-listing fl-wrap">
                                    <div class="geodir-category-img fl-wrap  agent_card">
                                        <a href="agent-single.html" class="geodir-category-img_item">
                                            <img src="/static/images/agency/agent/1.jpg" alt="">
                                            <ul class="list-single-opt_header_cat">
                                                <li><span class="cat-opt color-bg">22 listings</span></li>
                                            </ul>
                                        </a>
                                        <div class="agent-card-social fl-wrap">
                                            <ul>
                                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                                </li>
                                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5">
                                            <span class="re_stars-title">Excellent
                                            </span>
                                        </div>
                                    </div>
                                    <div class="geodir-category-content fl-wrap">
                                        <div class="card-verified tolt" data-microtip-position="left"
                                            data-tooltip="Verified"><i class="fal fa-user-check"></i></div>
                                        <div class="agent_card-title fl-wrap">
                                            <h4><a href="agent-single.html">Bill Trust</a></h4>
                                            <h5><a href="agency-single.html">Your Sweet Home agency</a></h5>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in
                                            pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur
                                            nulla.</p>
                                        <div class="geodir-category-footer fl-wrap">
                                            <a href="agent-single.html" class="btn float-btn color-bg small-btn">View
                                                Profile</a>
                                            <a href="mailto:yourmail@email.com" class="tolt ftr-btn"
                                                data-microtip-position="left" data-tooltip="Write Message"><i
                                                    class="fal fa-envelope"></i></a>
                                            <a href="tel:123-456-7890" class="tolt ftr-btn"
                                                data-microtip-position="left" data-tooltip="Call Now"><i
                                                    class="fal fa-phone"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!--  agent card item end -->
                        </div>
                        <!-- slick-slide-item end-->
                        <!-- slick-slide-item -->
                        <div class="slick-slide-item">
                            <!--  agent card item -->
                            <div class="listing-item">
                                <article class="geodir-category-listing fl-wrap">
                                    <div class="geodir-category-img fl-wrap  agent_card">
                                        <a href="agent-single.html" class="geodir-category-img_item">
                                            <img src="/static/images/agency/agent/1.jpg" alt="">
                                            <ul class="list-single-opt_header_cat">
                                                <li><span class="cat-opt color-bg">12 listings</span></li>
                                            </ul>
                                        </a>
                                        <div class="agent-card-social fl-wrap">
                                            <ul>
                                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="4">
                                            <span class="re_stars-title">Good</span>
                                        </div>
                                    </div>
                                    <div class="geodir-category-content fl-wrap">
                                        <div class="card-verified tolt" data-microtip-position="left"
                                            data-tooltip="Verified"><i class="fal fa-user-check"></i></div>
                                        <div class="agent_card-title fl-wrap">
                                            <h4><a href="agent-single.html">Martin Smith</a></h4>
                                            <h5><a href="agency-single.html">Mavers RealEstate agency</a></h5>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in
                                            pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur
                                            nulla.</p>
                                        <div class="geodir-category-footer fl-wrap">
                                            <a href="agent-single.html" class="btn float-btn color-bg small-btn">View
                                                Profile</a>
                                            <a href="mailto:yourmail@email.com" class="tolt ftr-btn"
                                                data-microtip-position="left" data-tooltip="Write Message"><i
                                                    class="fal fa-envelope"></i></a>
                                            <a href="tel:123-456-7890" class="tolt ftr-btn"
                                                data-microtip-position="left" data-tooltip="Call Now"><i
                                                    class="fal fa-phone"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!--  agent card item end -->
                        </div>
                        <!-- slick-slide-item end-->
                    </div>
                    <div class="swiper-button-prev lc-wbtn lc-wbtn_prev"><i class="far fa-angle-left"></i></div>
                    <div class="swiper-button-next lc-wbtn lc-wbtn_next"><i class="far fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </section>
        <!-- section end-->
        <!-- section -->
        <section class="color-bg small-padding">
            <div class="container">
                <div class="main-facts fl-wrap">
                    <!-- inline-facts  -->
                    <div class="inline-facts-wrap">
                        <div class="inline-facts">
                            <div class="milestone-counter">
                                <div class="stats animaper">
                                    <div class="num" data-content="0" data-num="578">0</div>
                                </div>
                            </div>
                            <h6>Agents and Agencys</h6>
                        </div>
                    </div>
                    <!-- inline-facts end -->
                    <!-- inline-facts  -->
                    <div class="inline-facts-wrap">
                        <div class="inline-facts">
                            <div class="milestone-counter">
                                <div class="stats animaper">
                                    <div class="num" data-content="0" data-num="12168">0</div>
                                </div>
                            </div>
                            <h6>Happy Customers Every Year</h6>
                        </div>
                    </div>
                    <!-- inline-facts end -->
                    <!-- inline-facts  -->
                    <div class="inline-facts-wrap">
                        <div class="inline-facts">
                            <div class="milestone-counter">
                                <div class="stats animaper">
                                    <div class="num" data-content="0" data-num="2172">0</div>
                                </div>
                            </div>
                            <h6>Won Awards</h6>
                        </div>
                    </div>
                    <!-- inline-facts end -->
                    <!-- inline-facts  -->
                    <div class="inline-facts-wrap">
                        <div class="inline-facts">
                            <div class="milestone-counter">
                                <div class="stats animaper">
                                    <div class="num" data-content="0" data-num="732">0</div>
                                </div>
                            </div>
                            <h6>New Listing Every Week</h6>
                        </div>
                    </div>
                    <!-- inline-facts end -->
                </div>
            </div>
            <div class="svg-bg">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" width="100%" height="100%" viewBox="0 0 1600 900" preserveAspectRatio="xMidYMax slice">
                    <defs>
                        <lineargradient id="bg">
                            <stop offset="0%" style="stop-color:rgba(255, 255, 255, 0.6)"></stop>
                            <stop offset="50%" style="stop-color:rgba(255, 255, 255, 0.1)"></stop>
                            <stop offset="100%" style="stop-color:rgba(255, 255, 255, 0.6)"></stop>
                        </lineargradient>
                        <path id="wave" stroke="url(#bg)" fill="none"
                            d="M-363.852,502.589c0,0,236.988-41.997,505.475,0
                                        s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z" />
                    </defs>
                    <g>
                        <use xlink:href="#wave">
                            <animatetransform attributeName="transform" attributeType="XML" type="translate" dur="10s"
                                calcMode="spline" values="270 230; -334 180; 270 230" keyTimes="0; .5; 1"
                                keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
                        </use>
                        <use xlink:href="#wave">
                            <animatetransform attributeName="transform" attributeType="XML" type="translate" dur="8s"
                                calcMode="spline" values="-270 230;243 220;-270 230" keyTimes="0; .6; 1"
                                keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
                        </use>
                        <use xlink:href="#wave">
                            <animatetransform attributeName="transform" attributeType="XML" type="translate" dur="6s"
                                calcMode="spline" values="0 230;-140 200;0 230" keyTimes="0; .4; 1"
                                keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
                        </use>
                        <use xlink:href="#wave">
                            <animatetransform attributeName="transform" attributeType="XML" type="translate" dur="12s"
                                calcMode="spline" values="0 240;140 200;0 230" keyTimes="0; .4; 1"
                                keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
                        </use>
                    </g>
                </svg>
            </div>
        </section>
        <!-- section end-->
        <!-- section -->
        <section class="gray-bg ">
            <div class="container">
                <div class="section-title st-center fl-wrap">
                    <h4>Testimonilas</h4>
                    <h2>What Our Clients Say</h2>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="testimonials-slider-wrap">
                <div class="testimonials-slider">
                    <!--slick-item -->
                    <div class="slick-item">
                        <div class="text-carousel-item fl-wrap">
                            <div class="text-carousel-item-header fl-wrap">
                                <div class="popup-avatar"><img src="/static/images/avatar/1.jpg" alt=""></div>
                                <div class="review-owner fl-wrap">Jessie Wilcox</div>
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                            </div>
                            <div class="text-carousel-content fl-wrap">
                                <p> "In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis
                                    cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor
                                    sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod
                                    tincidunt ut laoreet dolore luptatum."</p>
                                <a href="#" class="testim-link color-bg">Via Facebook</a>
                            </div>
                        </div>
                    </div>
                    <!--slick-item end -->
                    <!--slick-item -->
                    <div class="slick-item">
                        <div class="text-carousel-item fl-wrap">
                            <div class="text-carousel-item-header fl-wrap">
                                <div class="popup-avatar"><img src="images/avatar/1.jpg" alt=""></div>
                                <div class="review-owner fl-wrap">Austin Harisson</div>
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
                            </div>
                            <div class="text-carousel-content fl-wrap">
                                <p> "Feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                                    qui blandit praesent luptatum zzril delenit augue duis dolore te odio
                                    dignissim qui blandit praesent blandit praesent luptatum zzril.Vulputate
                                    urna. Nulla tristique mi a massa convallis."</p>
                                <a href="#" class="testim-link color-bg">Via Twitter</a>
                            </div>
                        </div>
                    </div>
                    <!--slick-item end -->
                    <!--slick-item -->
                    <div class="slick-item">
                        <div class="text-carousel-item fl-wrap">
                            <div class="text-carousel-item-header fl-wrap">
                                <div class="popup-avatar"><img src="/static/images/avatar/1.jpg" alt=""></div>
                                <div class="review-owner fl-wrap">Garry Colonsi</div>
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
                            </div>
                            <div class="text-carousel-content fl-wrap">
                                <p> "In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis
                                    cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor
                                    sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod
                                    tincidunt ut laoreet dolore luptatum."</p>
                                <a href="#" class="testim-link color-bg">Via Facebook</a>
                            </div>
                        </div>
                    </div>
                    <!--slick-item end -->
                    <!--slick-item -->
                    <div class="slick-item">
                        <div class="text-carousel-item fl-wrap">
                            <div class="text-carousel-item-header fl-wrap">
                                <div class="popup-avatar"><img src="/static/images/avatar/1.jpg" alt=""></div>
                                <div class="review-owner fl-wrap">Antony Moore</div>
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                            </div>
                            <div class="text-carousel-content fl-wrap">
                                <p> "Feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                                    qui blandit praesent luptatum zzril delenit augue duis dolore te odio
                                    dignissim qui blandit praesent blandit praesent luptatum zzril.Vulputate
                                    urna. Nulla tristique mi a massa convallis."</p>
                                <a href="#" class="testim-link color-bg">Via Twitter</a>
                            </div>
                        </div>
                    </div>
                    <!--slick-item end -->
                </div>
            </div>
        </section>
        <!-- section end-->

        {% endblock %}
