<!-- section -->
<section>
    <div class="container">
        <!--about-wrap -->
        <div class="about-title ab-hero fl-wrap">
            <h1 class="text-center" style="color: white; margin-bottom : 3rem">Why Choose Our Properties </h1>
           
        </div>
        <div class="about-wrap">
            <div class="row">
                <div class="col-md-5" style="height : 27rem">
                   
                    <div class="services-opions fl-wrap">
                        <ul>
                            <li>
                                <i class="fal fa-headset"></i>
                                <h4>24 Hours Support </h4>
                                <p>Customers can get help and find answers to questions as soon as possible. </p>
                            </li>
                            <li>
                                <i class="fal fa-users-cog"></i>
                                <h4>Large User Base</h4>
                                <p>High active user count and user engagement to find and close deals </p>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>    
                                <h4>Verified Houses Only</h4>
                                <p>Photos / Videos and other details are verified on location</p>
                            </li>
                            <li>
                                <i class="fal fa-phone-laptop"></i>
                                <h4>Mobile Friendly</h4>
                                <p>Designing your websites to be mobile friendly ensures that your pages perform well on all devices.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="about-img fl-wrap">
                        <img src="https://static.vecteezy.com/system/resources/thumbnails/005/254/196/small/real-estate-investment-concept-businessman-holding-wooden-model-houses-and-virtual-graph-real-estate-growth-in-the-future-finance-banking-lending-and-trading-free-photo.jpg" class="respimg" alt="" style="height : 27rem">
                        <!-- <div class="about-img-hotifer color-bg">
                            <p>Your website is fully responsive so visitors can view your content from
                                their choice of device.</p>
                            <h4>Faisal </h4>
                            <h5>PropDekho CEO</h5>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- about-wrap end  -->
    </div>
</section>
<!-- section end-->

<script src="https://kit.fontawesome.com/17483d7dfc" crossorigin="anonymous"></script>
